{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Free Text-To-Speech for all languages & MP3 Download | ainhub.com/txt2mp4{% endblock %}
{% block description %}Easily convert text to natural US English voice and 150+ languages/accents for free. Listen
online or download as MP3.{% endblock %}
{% load humanize %}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



{% block content %}

<style>
    .text_container {
        max-width: 100%;
        overflow-x: auto;
    }

    table {
        width: 100%;
    }

    @media (max-width: 700px) {
        table {
            width: 80% !important;
            padding: 0px;
        }
    }
</style>

<body>

    {% include 'partials/header.html' %}

    <main class="main_area">


        {% include 'partials/dashbord_slider.html' %}






        <div class="main_content">

            <!-- <button id="toggleBtn0" class="toggle-btn">☰</button> -->
            {% include 'partials/message.html' %}
            {% include 'partials/success.html' %}
            {% include 'partials/dash_top_left_btn.html' %}

            <div class="page_content">
                <h2>Create New Survey</h2>


                <div class="text_container">
                    <div class="login_main">
                        <div class="login-container">
                            <form method="POST" class="login-form">
                                {% csrf_token %}
                                <h2>Delete Question</h2>
                                <p>Are you sure you want to delete the survey: <strong>{{ question.question_text }}</strong>?</p>
                                <form method="post">
                                    {% csrf_token %}
                                    <a href="{% url 'survey:question_list' question.survey.id %}" class="btn btn-secondary">Cancel</a>
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>


                            </form>
                        </div>
                    </div>
                </div>





            </div>



        </div>






    </main>





    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        function displayError(message) {
            const errorDiv = $("#error-message");
            errorDiv.html(message).show();
        }

        function displaySuccess(message) {
            const errorDiv = $("#success-message");
            errorDiv.html(message).show();
        }

        $("#transfer_to").on("click", function (e) {
            e.preventDefault();

            const btn = document.getElementById("transfer_to");
            btn.innerText = "Transferring...";

            const to = $("#to").val();
            const amount = $("#amount").val();
            const info = $("#info").val();
            const csrf_token = $('input[name="csrfmiddlewaretoken"]').val();

            // Validate input
            if (!to || !amount) {
                displayError("Please fill in all required fields.");
                displaySuccess("");
                btn.innerText = "Transfer";
                return;
            }

            $.ajax({
                url: '/transfer_to',  // your Django view URL
                method: 'POST',
                data: {
                    to: to,
                    amount: amount,
                    info: info,
                    csrfmiddlewaretoken: csrf_token
                },
                success: function (response) {
                    displaySuccess("Success: " + response.message);
                    btn.innerText = "Transfer";
                },
                error: function (xhr, status, error) {
                    console.log("XHR Status:", status);
                    console.log("XHR Response:", xhr.responseText);
                    console.log("XHR Error:", error);

                    let msg = "Something went wrong!";

                    try {
                        const response = JSON.parse(xhr.responseText);
                        if (response.message) {
                            msg = response.message;
                        } else if (response.detail) {
                            msg = response.detail;
                        }
                    } catch (e) {
                        msg = xhr.responseText;  // fallback to raw text if not JSON
                    }

                    displayError("Error: " + msg);
                    displaySuccess("");
                    btn.innerText = "Transfer";
                }

            });
        });
    </script>







    <script>

        const toggleBtn = document.getElementById('toggleBtn');
        const toggledashboRDBtn = document.getElementById('toggledashboRDBtn');

        const dashbord_slider = document.getElementById('dashbord_slider');
        const overlay = document.getElementById('overlay');
        const mainContent = document.querySelector('.main_content');
        // sidebar.classList.toggle('open');
        // overlay.classList.toggle('show');
        toggleBtn.addEventListener('click', () => {
            // alert("Ho");
            dashbord_slider.classList.toggle('hidden');
            // mainContent.classList.toggle('expanded');
        });

        toggledashboRDBtn.addEventListener('click', () => {
            dashbord_slider.classList.toggle('hidden');
        });

    </script>




</body>

{% endblock %}

</html>