{% load static %}

<div class="top_left_buttons">
    <button class="hide_on_mobile"> <a href="{% url 'subscribe' %} "> Start your free trial </a> </button>
    <button class="hide_on_mobile">
        {% if user.is_authenticated %}
        {% if request.path == '/dashboard' %}
         <a href="/logout">Logout</a>
        {% else %}
         <a href="/dashboard">Dashboard</a>
        {% endif %}
       
        {% else %}
        <a href="/login">Login</a>
        {% endif %}

    </button>
    <button id="toggleBtn"> Menu </button>
</div>