{% load static %}


<div id="dashbord_slider" class="dashboard_menu">
    <div class="dashbord_header">

        <a href="/"> <img class="logomobile" src="{% static 'images/logomobile.png' %}" alt=""></a>

        <span id="toggledashboRDBtn" class="close-btn"> X </span>

    </div>

    {% if user.is_authenticated %}
    <div class="profile">
        <div class="avatar"> {{ user.username|first|upper }}{{ user.username|slice:"1:2"|upper }}</div>
        <div class="profile_image">
            <p>{{user.get_full_name|default:user.username}}</p>
            <a href="{%  url 'verify' %}">Your profile</a>
        </div>

        <div>
            <button class="scroll-btn right">▶</button>
        </div>

    </div>
    {% endif %}

    <div class="promo">
        <strong>Try Ain Pro</strong>
        <p>Enjoy all our premium features, free for 30 days.</p>
        <div class="mobile_menu">
            <button> <a href="{% url 'subscribe' %} " style="color: #FFF;"> Start your free trial </a> </button>
        </div>
    </div>

    <ul class="menu-list">
        <li>
            <a class="menu_text" href="{% url 'downloads' %}">Downloads</a>

            <div>
                <button class="scroll-btn right">▶</button>
            </div>

        </li>



        <li>
            <a class="menu_text" href="{% url 'transfer' %}">Transfer </a>

            <div>
                <button class="scroll-btn right">▶</button>
            </div>

        </li>


        <li>

            <a class="menu_text" href="{% url 'survey:create_survey' %}">Create Survey</a>

            <div>
                <button class="scroll-btn right">▶</button>
            </div>

        </li>



        <li>
            <a class="menu_text" href="{% url 'survey:survey_list' %}">Surveys</a>
            <div>
                <button class="scroll-btn right">▶</button>
            </div>
        </li>

 



       
    </ul>

    <div class="promo">
        {% if not user.is_authenticated %}
        <strong>Dont have an account</strong>
        <div class="mobile_menu">
            <button> <a href="{% url 'login' %} " style="color: #FFF;"> Login </a> </button>
            <span class="or"> or </span>
            <button> <a href="{% url 'register' %} " style="color: #FFF;"> Register </a> </button>
        </div>
        {% endif %}

        {% if user.is_authenticated %}
        <div class="mobile_menu">
            <button> <a href="{% url 'logout' %} " style="color: #FFF;"> Logout </a> </button>
        </div>

        {% endif %}
    </div>



</div>