{% load static %}

<!-- <div id="header">
    <a class="logo" href="/"><img width="340" height="100" alt="ttsmp3.com LOGO" src="{% static 'images/MP3.jpg' %}"/></a>
</div> -->

<!-- Hidden Fixed Header -->
<div id="scroll-header" class="scroll-header hidden">
 <a href="/"> <img src="{% static 'images/logomobile.png' %}" alt="Logo" class="scroll-logo">  </a>
  <div class="scroll-text">
    <a href="{% url 'login' %} "> Get Started </a>
  </div>
</div>


<div class="logoimage fixed_logo">
  <a href="/"><img class="logodesktop" src="{% static 'images/ainlogo.png' %}" alt=""></a>
</div>



<script>
  window.addEventListener('scroll', function () {
    const scrollHeader = document.getElementById('scroll-header');
    const scrollPosition = window.scrollY;
    const pageHeight = document.body.scrollHeight - window.innerHeight;
    const scrolledPercent = (scrollPosition / pageHeight) * 100;

    if (scrolledPercent > 15) {
      scrollHeader.classList.remove('hidden');
    } else {
      scrollHeader.classList.add('hidden');
    }
  });
</script>
