{% load static %}


        <div style="text-align: justify; width: 70%; padding: 30px; border: 2px solid #cecece; padding-top: 10px; margin-top: 5px;">
            <h3>Our Solutions :</h3>
                 
            <div class="voice-grid">


                <a href="/" style="text-decoration: none;">
                    <div class="langbox"> Free Text to Speach </div>
                </a>


                <a href="{% url 'audio2text' %}" style="text-decoration: none;">
                    <div class="langbox"> Free Audio to Text </div>
                </a>
             
                <a href="{% url 'process_youdownload' %}" style="text-decoration: none;">
                    <div class="langbox"> Free YouTube Downloader  </div>
                </a>

                <a href="{% url 'process_song' %}" style="text-decoration: none;">
                    <div class="langbox"> Free Text to Song  </div>
                </a>

                <a href="{% url 'upload' %}" style="text-decoration: none;">
                    <div class="langbox"> Free Text Extractor  </div>
                </a>
     
            </div>
             <p>Explore full SSML support for Microsoft TTS at <a rel="nofollow" target="_blank" href="https://learn.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-synthesis-markup">Microsoft SSML Documentation</a>.</p>

        </div>