{% load static %}


<div class="top_right_btn">

    {% include 'partials/logo.html' %}
    <button class="show_on_mobile toggle_btn" onclick="toggleSidebar()">
        Menu </button>
</div>

<div id="sidebar" class="sidebar">
    <div class="sidebar-header">

        <a href="/"> <img class="logomobile" src="{% static 'images/logomobile.png' %}" alt=""></a>

        <span onclick="toggleSidebar()" class="close-btn"> X </span>
    </div>

    {% if user.is_authenticated %}
    <div class="profile">
        <div class="avatar"> {{ user.username|first|upper }}{{ user.username|slice:"1:2"|upper }}</div>
        <div class="profile_image">
            <p>{{user.get_full_name|default:user.username}}</p>
            <a href="#">Add your picture</a>
        </div>

        <div>
            <button class="scroll-btn right">▶</button>
        </div>

    </div>
    {% endif %}

    <div class="promo">
        <strong>Try Ain Pro</strong>
        <p>Enjoy all our premium features, free for 30 days.</p>
        <div class="mobile_menu">
            <button> <a href="{% url 'subscribe' %} " style="color: #FFF;"> Start your free trial </a> </button>
        </div>
    </div>

    <ul class="menu-list">
        <li>
            <a class="menu_text" href="{% url 'text_to_speach' %}">Free Text to Speach</a>

            <div>
                <button class="scroll-btn right">▶</button>
            </div>

        </li>
        <li>
            <a href="{% url 'audio2text' %}">Free Audio to Text</a>
            <div>
                <button class="scroll-btn right">▶</button>
            </div>
        </li>
        <li>
            <a href="{% url 'process_youdownload' %}"> Free Youtube Downloader </a>
            <div>
                <button class="scroll-btn right">▶</button>
            </div>
        </li>

        <li>
            <a href="{% url 'index' %}"> Free twitter Downloader </a>
            <div>
                <button class="scroll-btn right">▶</button>
            </div>
        </li>


        <li>
            <a href="{% url 'upload' %}"> Free Text Extractor </a>
            <!-- <span class="tag new">New</span> -->
            <div>
                <button class="scroll-btn right">▶</button>
            </div>
        </li>


        <li>
            <a href="{% url 'noise_removal:upload_audio' %}"> Free Noise Removal </a>
            <!-- <span class="tag new">New</span> -->
            <div>
                <button class="scroll-btn right">▶</button>
            </div>
        </li>


        <li>
            <a href="{% url 'process_song' %}">Free Text to Song</a>

            <div>
                <button class="scroll-btn right">▶</button>
            </div>
        </li>
    </ul>


    <div class="promo">
        {% if not user.is_authenticated %}
        <strong>Dont have an account</strong>
        <div class="mobile_menu">
            <button> <a href="{% url 'login' %} " style="color: #FFF;"> Login </a> </button>
            <span class="or"> or </span>
            <button> <a href="{% url 'register' %} " style="color: #FFF;"> Register </a> </button>
        </div>
        {% endif %}

        {% if user.is_authenticated %}
         <div class="mobile_menu">
                <button> <a href="{% url 'logout' %} " style="color: #FFF;"> Logout </a> </button>
         </div>
    
        {% endif %}
    </div>
</div>


<!-- Overlay -->
<div id="overlay" class="overlay" onclick="toggleSidebar()"></div>