{% load static %}

<div class="solution_container" style="display: flex; align-items: center; justify-content: center; gap: 10px;">
    <button onclick="scrollCategory('left')" id="scrollLeft" class="scroll-btn left">◀</button>

    <div class="category_container" id="categoryContainer" onscroll="updateScrollButtons()">
        <a href="{% url 'text_to_speach' %}" class="category">
            <i class="fa fa-laptop"> </i>
            <span> Free Text to Speach </span>
        </a>

        <a href="{% url 'audio2text' %}" class="category">
            <i class="fa fa-laptop"> </i>
            <span> Free Audio to Text </span>
        </a>

        <a href="{% url 'process_youdownload' %}" class="category">
            <i class="fa fa-laptop"> </i>
            <span> Free Youtube Downloader </span>
        </a>

        <a href="{% url 'index' %}" class="category">
            <i class="fa fa-laptop"> </i>
            <span> Free twitter Downloader </span>
        </a>

        <a href="{% url 'upload' %}" class="category">
            <i class="fa fa-laptop"> </i>
            <span> Free Text Extractor </span>
        </a>


        <a href="{% url 'noise_removal:upload_audio' %}" class="category">
            <i class="fa fa-laptop"> </i>
            <span> Free Noise Removal </span>
        </a>

        <a href="{% url 'process_song' %}" class="category">
            <i class="fa fa-laptop"> </i>
            <span> Free Text to Song </span>
        </a>


        <a href="{% url 'upload_voice' %}" class="category">
            <i class="fa fa-laptop"> </i>
            <span> Clone a voice today </span>
        </a>



    </div>

    <button onclick="scrollCategory('right')" id="scrollRight" class="scroll-btn right">▶</button>
</div>