<div id="dashbord_slider" class="dashboard_menu">
    <div class="dashbord_header">

        <a href="/"> <img class="logomobile" src="{% static 'images/logomobile.png' %}" alt=""></a>

    

    </div>

    {% if user.is_authenticated %}
    <div class="profile">
        <div class="avatar"> {{ user.username|first|upper }}{{ user.username|slice:"1:2"|upper }}</div>
        <div class="profile_image">
            <p>{{user.get_full_name|default:user.username}}</p>
            <a href="{%  url 'verify' %}">Your profile</a>
        </div>

        <div>
            <button class="scroll-btn right">▶</button>
        </div>

    </div>
    {% endif %}

    
</div>