
{% load static %}


                <div class="search-container">
                    <!-- <div   class="error-box" id="error-message" style="display: none;"></div> -->
                    <div class="search-bar">
                        <!-- <input type="text" placeholder="Search millions of templates"> -->

                        <textarea rows="8" id="voicetext"
                            placeholder="{% if user.is_authenticated %} {{ user.username }} {% endif %}your text here"
                            tabindex="1"></textarea>
                        <button id="sampleVoice">&#10140;</button>
                        <span class="spinner" style="display: none;"></span>
                    </div>
                    <div class="tags">



                        <select id="pitch" name="pitch" style="border-radius: 6px;">
                            <option value="+0Hz">Pitch</option>
                            <option value="+10Hz">+10Hz</option>
                            <option value="+20Hz">+20Hz</option>
                            <option value="+20Hz">+30Hz</option>
                            <option value="+20Hz">+40Hz</option>
                            <option value="+20Hz">+50Hz</option>
                            <option value="+20Hz">+20Hz</option>
                            <option value="-10Hz">-10Hz</option>
                            <option value="-20Hz">-20Hz</option>
                            <option value="-20Hz">-30Hz</option>
                            <option value="-20Hz">-40Hz</option>
                            <option value="-20Hz">-50Hz</option>
                        </select>

                        <select id="speed" name="speed" style="border-radius: 6px;">
                            <option value='+1%' selected>Speed</option>
                            <option value='+30%'>+30%</option>
                            <option value='+20%'>+20%</option>
                            <option value='+10%'>+10%</option>
                            <option value='+5%'>+5%</option>
                            <option value='+2%'>+2%</option>

                            <option value='-2%'>-2%</option>
                            <option value='-5%'>-5%</option>
                            <option value='-10%'>-10%</option>
                            <option value='-20%'>-20%</option>
                            <option value='-30%'>-30%</option>
                        </select>


                        <select id="ShortName" class="ShortName">
                            {% if voices %}
                            {% for voice in voices %}
                            <option value="{{ voice.ShortName }}">
                                {{ voice.FriendlyName|slice:"10:" }} - {{ voice.Gender }}
                            </option>
                            {% endfor %}
                            {% elif not network_status %}
                            <option disabled>No Network Available</option>
                            {% else %}
                            <option disabled>No voices available</option>
                            {% endif %}
                        </select>

                    </div>
                </div>