/* Create two columns layout for wider screens */

@media (min-width: 600px) {
    /* Adjust this breakpoint as needed */
    .flex-item {
        flex-basis: calc(50% - 10px);
        /* Adjust the subtraction for spacing */
        margin-bottom: 20px;
        /* Adjust as necessary for spacing */
    }
}

.range-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 0 10px !important;
    flex-grow: 1;
}

input[type=range]:focus {
    outline: none;
}

/* Styling for Chrome, Safari, and the latest Edge versions */

input[type=range]::-webkit-slider-runnable-track {
    height: 8px;
    background: #ddd;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #007bff;
    margin-top: -4px;
    cursor: pointer;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

/* Styling for Firefox */

input[type=range]::-moz-range-track {
    height: 8px;
    background: #ddd;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #007bff;
    cursor: pointer;
}

input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

input[type=range]::-ms-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #007bff;
    cursor: pointer;
}

input[type=range]::-ms-fill-lower {
    background: #ddd;
    border-radius: 3px;
}

input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 3px;
}

output {
    padding: 0 15px;
}

.apitable {
    border: 1px solid #202020;
    width: 100%;
    text-align: left;
    border-spacing: 0px;
    border-collapse: separate;
    font-family: Consolas;
    margin-bottom: 50px;
}

.apitable th,
td {
    border: 1px solid #808080;
    padding: 15px;
}

.apitable th {
    background-color: #CCE5FF;
    padding: 10px;
}

.apitable td:nth-child(3) {
    color: #FF9933;
}

#apidoc {
    font-size: 18px;
}

.explaincode {
    padding: 5px;
    margin: 10px;
    border: 2px dotted #9999ff;
    font-family: Arial;
}

#apiul li {
    padding: 10px;
}

#apiul {
    margin-bottom: 40px;
}

.apicode {
    min-width: 950px;
    background-color: #ced4ff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 0px;
    margin-top: 20px;
    border-radius: 7px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

sub {
    vertical-align: super;
    font-size: smaller;
}

.botlink {
    color: #fefefe;
    text-decoration: none;
}

.langbox {
    padding: 15px;
    min-width: 175px;
    display: inline-block;
    border: 1px solid #888888;
    margin: 3px;
    box-shadow: 2px 2px 1px #888888;
}

#footer {
    text-align: center;
    background: #252525;
    margin: 0;
    padding: 36px 0 42px;
    width: 100%;
}

#footer div {
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}

#footer div p {
    color: #fff;
    line-height: 44px;
    margin: 0 0 0 10px;
    padding: 0;
}

#footer div ul {
    display: block;
    float: right;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 256px;
}

#footer div ul li {
    display: block;
    float: left;
    list-style: none;
    margin: 0 10px;
    padding: 0;
    width: 44px;
}

#faq {
    margin: 100px auto;
    text-align: left;
    margin-top: 30px;
    max-width: 900px;
}

#faq .faqquestion {
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    clear: both;
    margin-top: 15px;
}

#faq .faqanswer {
    width: 100%;
    text-align: left;
    font-size: 15px;
    margin-top: 10px;
    clear: both;
}

.login-form-container {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 320px;
    margin-top: 30px !important;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 250px !important;
    padding-bottom: 30px !important;
}

.login-form label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.login-form-input {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 14px;
    margin-bottom: 20px;
}

.login-form-submit {
    background-color: #1c1b1b;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;
}

.login-form-submit:hover {
    background-color: #a39d9d;
}

.login-form-error {
    color: #cc0000;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    padding-bottom: 20px;
}