{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Free Text-To-Speech for all languages & MP3 Download | ainhub.com/txt2mp4{% endblock %}
{% block description %}Easily convert text to natural US English voice and 150+ languages/accents for free. Listen
online or download as MP3.{% endblock %}
{% load humanize %}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



{% block content %}

<style>
    .text_container {
        max-width: 100%;
        overflow-x: auto;
    }

    table {
        width: 100%;
    }

    @media (max-width: 700px) {
        table {
            width: 80% !important;
            padding: 0px;
        }
    }
</style>

<body>

    {% include 'partials/header.html' %}

    <main class="main_area">


        {% include 'partials/dashbord_slider.html' %}






        <div class="main_content">

            <!-- <button id="toggleBtn0" class="toggle-btn">☰</button> -->
            {% include 'partials/message.html' %}
            {% include 'partials/dash_top_left_btn.html' %}

            <div class="page_content">
                <h2>Verify your account</h2>


                <div class="text_container">
                    <div class="login_main">
                        <div class="login-container">
                            <form method="POST" class="login-form">
                                {% csrf_token %}
                                <h2>Verify</h2>
                                <div class="input-group">
                                    <label for="password">Code</label>
                                    <input type="text" id="token" name="token" {% if is_verified %} disabled {% endif %} />
                                </div>
                                <button type="{% if is_verified %} button  {% else %} submit {% endif %}" class="login_btn" id="code" type="submit">  {% if is_verified %} Verified  {% else %} Verify {% endif %} </button>
                            </form>
<br>
                             <button type="{% if is_verified %} button  {% else %} submit {% endif %}" class="login_btn" id="send_code" type="submit">  {% if is_verified %} Sending  {% else %} Send Code {% endif %} </button>
                        </div>
                    </div>
                </div>

                




            </div>



        </div>






    </main>





    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

            function displayError(message) {
                const errorDiv = $("#error-message");
                errorDiv.html(message).show();
            }
    
        $("#code").on("click", function (e) {
            e.preventDefault();

            const btn = document.getElementById("code");
            btn.innerText = "Verifing...";

            const token = $("#token").val();
            const csrf_token = $('input[name="csrfmiddlewaretoken"]').val();

            // Validate input
            if (!token) {
                displayError("Please token is required fields.");
                btn.innerText = "Verify";
                return;
            }

            $.ajax({
                url: '/verify_account',  // your Django view URL
                method: 'POST',
                data: {
                    token: token,
                    csrfmiddlewaretoken: csrf_token
                },
                success: function (response) {
                    displayError(response.message);
                    if (response.message == "Your email has been verified successfully."){
                        window.location.href = "/verify"
                    }
                    // alert("Success: " + response.message);
                    btn.innerText = "Verify";
                },
                error: function (xhr, status, error) {
                    const errorMessage = xhr.responseJSON?.error || "An unexpected error occurred. Please try again.";
                    console.log("An error occurred: " + errorMessage);
                    btn.innerText = "Verify";
                    displayError(errorMessage);
                }
            });
        });
        
        
        
            $("#send_code").on("click", function (e) {
                e.preventDefault();
    
                const btn = document.getElementById("send_code");
                btn.innerText = "Sending...";
        
                var csrf_token = $('input[name="csrfmiddlewaretoken"]').val();  // Get CSRF token from the hidden input field
        
                $.ajax({
                    url: '/resend_verification_email',  // Adjust the URL as needed
                    type: 'POST',
                    data: {
                        'csrfmiddlewaretoken': csrf_token
                    },
                    success: function (response) {
                        if (response.message === 'Verification email sent successfully.') {
                            // Redirect after registration, for example to login page
                            displayError(response.message);
                            btn.innerText = "Send Code";
                        } else {
                            displayError(response.message);
                        }
                        // Redirect or update UI after successful login
                    },
                    error: function (xhr, status, error) {
                        console.log("Error: ", error);
                        alert("Sening Email Failed: " + xhr.responseJSON.message);
                        btn.innerText = "Send Code";
                        displayError(errorMessage);
                    }
                });
            });
    </script>



    <script>
        $("#send_code0").on("click", function (e) {
            e.preventDefault();

            const btn = document.getElementById("send_code");
            btn.innerText = "Sending...";


            const csrf_token = $('input[name="csrfmiddlewaretoken"]').val();

            // Validate input

            $.ajax({
                url: '/resend_verification_email',  // your Django view URL
                method: 'POST',
                data: {
                    csrfmiddlewaretoken: csrf_token
                },
                success: function (response) {
                    if (response.message == "Verification email sent successfully."){
                        // window.location.href = "/verify"
                    }
                    displayError(response.message);
                    btn.innerText = "Send Code";
                },
                error: function (xhr, status, error) {
                    const errorMessage = xhr.responseJSON?.error || "An unexpected error occurred. Please try again.";
                    console.log("An error occurred: " + errorMessage);
                    btn.innerText = "Send Code";
                    displayError(errorMessage);
                }
            });
        });
    </script>







    <script>

        const toggleBtn = document.getElementById('toggleBtn');
        const toggledashboRDBtn = document.getElementById('toggledashboRDBtn');

        const dashbord_slider = document.getElementById('dashbord_slider');
        const overlay = document.getElementById('overlay');
        const mainContent = document.querySelector('.main_content');
        // sidebar.classList.toggle('open');
        // overlay.classList.toggle('show');
        toggleBtn.addEventListener('click', () => {
            // alert("Ho");
            dashbord_slider.classList.toggle('hidden');
            // mainContent.classList.toggle('expanded');
        });

        toggledashboRDBtn.addEventListener('click', () => {
            dashbord_slider.classList.toggle('hidden');
        });

    </script>




</body>

{% endblock %}

</html>